# Environment variables
.env
*.env

# Virtual environment
venv/
.venv/
env/
*/venv/
*/.venv/
*/env/
*/.env

# Python cache/compiled files
__pycache__/
*.py[cod]

# OS-specific files
.DS_Store
Thumbs.db

# IDE folders
.vscode/
.idea/

# Other common ignores
*.log
*.pot
*.pyc
*.swp
*~