# Environment variables
.env

# Virtual environment
venv/
.venv/
env/
*/venv/
*/.venv/
*/env/

# Python cache/compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# OS-specific files
.DS_Store
Thumbs.db

# IDE folders (optional but recommended)
.vscode/
.idea/